body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
canvas {
    
        display: block; /* Removes inline padding */
        width: 100vw; /* Full viewport width */
        height: 100vh; /* Full viewport height */
}